@import url("/css/set/_var.css");

.header-container {
  padding: 55px 20px 13px;
  border-bottom: 1px solid var(--base-white);
}
.header-contents {
  align-items: center;
  display: flex;
}
.header-logo-top {
  margin-right: auto;
  font-family: 'Roboto-Bold';
  font-size: 18px;
  font-weight: 700;
}
.header-btn-login {
  font-size: 14px;
  font-weight: 300px;
  margin-right: 20px;
}
.header-btn-vote {
  border: 1px solid var(--base-yellow);
  border-radius: 5px;
  box-sizing: border-box; 
  color: var(--base-yellow);
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}