<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ユーザー情報変更</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/change_info.css" />
</head>

<%- include("./set/header"); %>

<main class="change-info-whole-wrapper">
  <p class="change-info-username">ユーザー名</p>
  <input type="text" class="change-info-input-username">
  <p class="change-info-profile">プロフィール画像</p>
  <div class="chage-info-profilepic-wrapper">
    <img src="/usericon/usericon1.png">
  </div>

  <button class="chage-info-mypage-btn">マイページに戻る</button>
</main>
