<!DOCTYPE html>
<html lang="ja">
<head>
	<link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
	<link rel="stylesheet" type="text/css" href="/css/set/default.css" />
	<link rel="stylesheet" type="text/css" href="/css/home.css" />
	<meta
		name="viewport"
		content="width=device-width,user-scalable=yes,shrink-to-fit=yes"
	/>
	<title>Revima</title>
</head>
<body>
	<%- include("./set/header"); %>
	<main class="home-whole-wrapper">
		<p class="home-greet">こんにちは、<%= locals.username %>さん</p>
		<section class="home-reserve">
			<ul class="home-reserve-list">
				<li>
					<img src="images/movie1.png" alt="" />
				</li>
				<li>
					<img src="images/movie2.png" alt="" />
				</li>
				<li>
					<img src="images/movie3.png" alt="" />
				</li>
			</ul>
			<% if(your_payment.length > 0) { %>
				<a href="/reserve_one"><button>予約する</button></a>
			<% } else {%>
				<a href="/payment_info_add"><button>予約する(支払い情報追加)</button></a>
			<% } %>
	
		</section>
		<section class="home-vote">
			<p class="home-vote-endtime">投票終了まであと<span>3</span>日</p>
			
			<ul class="home-vote-list">
				<li>
					<img src="images/movie1.png" alt="" />
				</li>
				<li>
					<img src="images/movie2.png" alt="" />
				</li>
				<li>
					<img src="images/movie3.png" alt="" />
				</li>
				<li>
					<img src="images/movie4.png" alt="" />
				</li>
				<li>
					<img src="images/movie5.png" alt="" />
				</li>
				<li>
					<img src="images/movie6.png" alt="" />
				</li>
				
			</ul>
			<div class="home-vote-btn-wrapper">
				<% if(your_vote.length > 0) { %>
					<button class="home-voted-btn">投票済みです</button>
				<% } else {%>
					<a href="/vote"><button class="home-vote-btn">投票する</button></a>
				<% } %>
				
				<!-- 現在の投票数 -->
				<a href="/now_voting"><button class="home-election-result">得票数を見る</button></a>
				<!-- 前回の投票結果 -->
				<a href="/result"><button class="home-election-result">前回の投票結果を見る</button></a>
			</div>
		</section>
	</main>
	<footer>
		<p class="home-copyright">©Revima</p>
	</footer>
</body>
</html>
