<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>映画紹介</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/introduce_movie.css" />
</head>
<body>
  <%- include("./set/header"); %>
  <div class="introduce-movie-whole-wrapper">
    <h1 class="introduce-movie-title">バックトゥザフューチャー</h1>
    <div class="introduce-movie-movie-img"><img src="/images/btf.png" alt="バックトゥザフューチャー"></div>
    <div class="introduce-movie-story">
      <p class="introduce-movie-story-text">
        1985年のアメリカ映画。SF映画。略して『BTTF』『BTF』とも呼ばれる。『バック・トゥ・ザ・フューチャーシリーズ』の1作目。公開当時全米で『フューチャー現象』と呼ばれるブームが生まれるほど大ヒットした。
        同年のアカデミー賞では音響効果賞を受賞。続編に『バック・トゥ・ザ・フューチャー PART2』（1989年）、『バック・トゥ・ザ・フューチャー PART3』（1990年）がある。
      </p>
      <a href="#"><button class="introduce-movie-vote">投票する</button></a>
    </div>
  </div>
</body>
</html>