<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マイページ</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/mypage.css" />
</head>

<body>
  <%- include("./set/header"); %>
  <div class="mypage-whole-wrapper">
    <div class="mypage-info-board">
      <div class="mypage-first-container">
        <div class="mypage-user-icon">
          <img src="/usericon/usericon1.png">
        </div>
        <p class="mypage-user-name"><%= locals.username %></p>
      </div>
      <div class="mypage-second-container">
        <p>2020/12/15</p>
        <p>ターミナル</p>
        <p class="mypage-reserve-time">21:00</p>
      </div>
    </div>
    <div class="mypage-list-wrapper">
      <p><a href="/change_info">ユーザー情報変更</a></p>
      <p><a href="/payment_info">支払い情報</a></p>
      <p id="list_logout">ログアウト</p>
      <p>退会</p>
    </div>
    
    <div class="mypage-logout-wrapper" id="popup_logout">
      <h1 class="mypage-logout-title">ログアウトしますか?</h1>
      <a href="/logout"><p class="mypage-logout-btn">ログアウト</p></a>
    </div>
  </div>
<script>
  let list_logout = document.getElementById("list_logout");
  let popup_logout = document.getElementById("popup_logout");

  // ログアウトポップアップ表示イベント
  list_logout.addEventListener("click", ()=> {
    popup_logout.style.visibility = "visible";
  })

  document.addEventListener("click", (e)=> {
    if(!e.target.closest('#popup_logout') && !e.target.closest('#list_logout')) {
      console.log('a');
      popup_logout.style.visibility = "hidden";
    }
  })
</script>
</body>
</html>