<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Regist</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/regist.css" />
</head>
<body>
  <main class="regist-container">
    <h1 class="regist-logo-top"><a href="/">Revima</a></h1>
    <p class="regist-nowstep1">1/2</p>
    <!-- <input type="text" placeholder="メールアドレス" class="regist-input-mailaddress"></input> -->
    <% if(errors.length > 0) { %>
      <% errors.forEach((error) => { %>
        <p class="subscribe-error"><%= error %></p><br>
      <% }); %>
    <% } %>
    <form action="/regist" method="post">
      <input type="text" name="regist_username" placeholder="ユーザーネーム" class="regist-input-username"></input>
      <input type="password" name="regist_password" placeholder="パスワード" class="regist-input-password"></input>
      <input type="password" name="regist_again_password" placeholder="パスワード再入力" class="regist-input-password"></input>
      <button type="submit" class="regist-btn-next">次へ</button>
    </form>
    <p class="regist-reccomend-login">すでにアカウントを持っている場合 <span class="regist-txt-login"><a href="/login">ログインはこちらから</a></span></p>
  </main>
</body>
</html>