<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登録完了</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/regist_done.css" />
</head>
<body>
  <main class="regist-done-wrapper">
    <a href="/"><h1 class="regist-done-title">Revima</h1></a>
    <p class="regist-done-message">登録は完了です！<br>さっそくもう一度見たい映画に投票しましょう！</p>
    <img src="/images/monster_hand.png" class="regist-done-monster-hand" alt="手" width="480px">
    <div class="regist-done-btn-to-top-wrapper">
      <a href="/"><button class="regist-done-btn-to-top">投票に行く</button></a>
    </div>
  </main>
</body>
</html>