<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>座席指指定</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/reserve_two.css" />
</head>
<body>
  <%- include("./set/header"); %>

  <main class="reserve-two-whole-wrapper">

    <!-- 選択情報 -->
    <div class="reserve-two-movieinfo-wrapper">
      <div class="reserve-two-movieinfo-one-wrapper">
        <p>作品</p>
        <p>ターミナル</p>
      </div>
      <div class="reserve-two-movieinfo-two-wrapper">
        <p>日時</p>
        <p>2020/12/15(火)21:00-</p>
      </div>   
    </div>

    <!-- シート色説明 -->
    <div class="reserve-two-seatstate-wrapper">
      <div class="reserve-two-seatstate-container">
        <div class="reserve-two-blueseat"></div>
        <p>空席</p>
      </div>

      <div class="reserve-two-seatstate-container">
        <div class="reserve-two-grayseat"></div>
        <p>満席</p>
      </div>

      <div class="reserve-two-seatstate-container">
        <div class="reserve-two-yellowseat"></div>
        <p>選択した席</p>
      </div>
    </div>

    <!-- シート選択 -->

    <!-- 予約されている席の情報 -->
    <div class="reserve-two-taken-seats-wrapper">
      <% reserved_seats.forEach((reserved_seat)=> { %>
        <p class="reserve-two-taken-seat-info"><%= reserved_seat.seat %></p>
      <% }) %>
    </div>

    <form method="post" action="/reserve_two">
      <div class="reserve-two-selectseat-wrapper">
        <div class="reserve-two-screenline">
          <img src="/images/screen_line.png">
        </div>

        <div class="reserve-two-seatnum-wrapper">
          <p>1</p>
          <p>8</p>
        </div>

        <div class="reserve-two-seats-wrapper">
          <div class="reserve-two-line-wrapper">
            <p>A</p>
            <input type="checkbox" name="seat" value="1, A-1">
            <input type="checkbox" name="seat" value="2, A-2">
            <input type="checkbox" name="seat" value="3, A-3">
            <input type="checkbox" name="seat" value="4, A-4">
            <input type="checkbox" name="seat" value="5, A-5">
            <input type="checkbox" name="seat" value="6, A-6">
            <input type="checkbox" name="seat" value="7, A-7">
            <input type="checkbox" name="seat" value="8, A-8">
            <p>A</p>
          </div>

          <div class="reserve-two-line-wrapper">
            <p>B</p>
            <input type="checkbox" name="seat" value="9, B-1">
            <input type="checkbox" name="seat" value="10, B-2">
            <input type="checkbox" name="seat" value="11, B-3">
            <input type="checkbox" name="seat" value="12, B-4">
            <input type="checkbox" name="seat" value="13, B-5">
            <input type="checkbox" name="seat" value="14, B-6">
            <input type="checkbox" name="seat" value="15, B-7">
            <input type="checkbox" name="seat" value="16, B-8">
            <p>B</p>
          </div>

          <div class="reserve-two-line-wrapper">
            <p>C</p>
            <input type="checkbox" name="seat" value="17, C-1">
            <input type="checkbox" name="seat" value="18, C-2">
            <input type="checkbox" name="seat" value="19, C-3">
            <input type="checkbox" name="seat" value="20, C-4">
            <input type="checkbox" name="seat" value="21, C-5">
            <input type="checkbox" name="seat" value="22, C-6">
            <input type="checkbox" name="seat" value="23, C-7">
            <input type="checkbox" name="seat" value="24, C-8">
            <p>C</p>
          </div>

          <div class="reserve-two-line-wrapper">
            <p>D</p>
            <input type="checkbox" name="seat" value="25, D-1">
            <input type="checkbox" name="seat" value="26, D-2">
            <input type="checkbox" name="seat" value="27, D-3">
            <input type="checkbox" name="seat" value="28, D-4">
            <input type="checkbox" name="seat" value="29, D-5">
            <input type="checkbox" name="seat" value="30, D-6">
            <input type="checkbox" name="seat" value="31, D-7">
            <input type="checkbox" name="seat" value="32, D-8">
            <p>D</p>
          </div>
        </div>
      </div>

      <div class="reserve-two-selected-seats-wrapper">
        <p>選択中(最大4席)</p>
        <ul class="reserve-two-selected-seats" id="selected_seats"></ul>
      </div>

      <p class="reserve-two-now-step">2/3</p>
      <input type="submit" class="reserve-two-btn-next" value="投票する">
    </form>
  </main>
<script>
// 予約されている席のデータ取り出し処理
let taken_seats_info = document.querySelectorAll(".reserve-two-taken-seat-info");
// 予約されているデータの数字を入れる配列
let taken_seats_box = [];
taken_seats_info.forEach((taken_seat_info)=> {
  taken_seats_box.push(taken_seat_info.innerText);
})

// 全てのシートに処理
const seats = document.querySelectorAll(".reserve-two-line-wrapper input");
const selected_seats = document.getElementById("selected_seats");

let selected_seats_counter = 0;

seats.forEach((seat)=> {

  taken_seats_box.forEach((taken_seat)=> {
    if(seat.value.split(',')[0] == taken_seat) {
      seat.classList.add("reserve-two-taken-seat");
    }
  })

  // シートクリック時の処理
  seat.addEventListener("click", (e)=> {
    if(seat.classList.contains("reserve-two-taken-seat") == false) {
      let seat_id = seat.value.split(',')[0];
      let seat_name = seat.value.split(',')[1]
      
      if(seat.checked === true) {
        if(selected_seats_counter < 4) {
          selected_seats_counter++;
          let selected_seat = document.createElement("li");
          selected_seat.id = seat_id
          selected_seat.innerHTML = "<span class='reserve-two-selected-circle'>●</span>" + seat_name;
          selected_seats.appendChild(selected_seat);
        } else {
          e.preventDefault();
        }
      } else {
        selected_seats_counter--;
        // 要素を削除
        document.getElementById(seat_id).remove();
      }
    }
  })
})
</script>
</body>
</html>