<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マイページ</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/reserve_one.css" />
</head>
<body>
  <%- include("./set/header"); %>
  <main class="reserve-one-whole-wrapper">
    <h1 class="reserve-one-title-title">タイトル</h1>
    <select name="movie_title" class="reserve-one-selected-movie">
      <option value="terminal1">ターミナル1</option>
      <option value="terminal2">ターミナル2</option>
      <option value="terminal4">ターミナル3</option>
    </select>

    <select name="movie_title" class="reserve-one-selected-movie">
      <option value="terminal1">ターミナル1</option>
      <option value="terminal2">ターミナル2</option>
      <option value="terminal4">ターミナル3</option>
    </select>
  </main>
</body>
</html>