<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf8" />

		<link rel="stylesheet" href="css/set/destyle.css" />
		<link rel="stylesheet" href="css/set/var.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/top-login.css" />
		<meta
			name="viewport"
			content="width=device-width,user-scalable=yes,shrink-to-fit=yes"
		/>

		<title>Revima</title>
	</head>

	<body class="top-login">
		<%- include("./set/header"); %>
		<div class="top-login-wrapper">
			<main>
				<p class="top-login-greet">こんにちは、トムさん</p>
				<section class="top-login-reserve">
					<ul class="top-login-reserve-list">
						<li>
							<a href="#"><img src="images/movie1.png" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="images/movie2.png" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="images/movie3.png" alt="" /></a>
						</li>
					</ul>
					<button><a href="#">予約する</a></button>
				</section>
				<section class="top-login-vote">
					<ul class="top-login-vote-list">
						<li>
							<a href="#"><img src="images/movie5.png" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="images/movie4.png" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="images/movie3.png" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="images/movie2.png" alt="" /></a>
						</li>
						<li>
							<a href="#"><img src="images/movie1.png" alt="" /></a>
						</li>
					</ul>
					<button><a href="#">投票する</a></button>
				</section>
			</main>
			<footer>
				<small class="top-login-copyright">©Revima</small>
			</footer>
		</div>
	</body>
</html>
