<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf8" />

		<link rel="stylesheet" href="css/destyle.css" />
		<link rel="stylesheet" href="css/top-login.css" defer />
		<meta
			name="viewport"
			content="width=device-width,user-scalable=yes,shrink-to-fit=yes"
		/>
		<script src="./js/main.js" defer></script>
		<title>Revima</title>
	</head>

	<body class="top-login">
		<header class="top-login-header">
			<nav class="top-login-header-nav">
				<h1>
					<a href="top-login.html"> Revima </a>
				</h1>
				<div class="top-login-header-profile">
					<a href="#">
						<img src="#" alt="プロフィール画像" />
					</a>
				</div>
			</nav>
			<hr class="top-login-header-hr" />
		</header>

		<main>
			<p class="top-login-greet">こんにちは、トムさん</p>
			<section class="top-login-reserve">
				<ul class="top-login-reserve-list">
					<li>
						<a href="#"><img src="images/movie1.png" alt="" /></a>
					</li>
					<li>
						<a href="#"><img src="images/movie2.png" alt="" /></a>
					</li>
					<li>
						<a href="#"><img src="images/movie3.png" alt="" /></a>
					</li>
				</ul>
				<button><a href="#">予約する</a></button>
			</section>
			<section class="top-login-vote">
				<ul class="top-login-vote-list">
					<li>
						<a href="#"><img src="images/movie5.png" alt="" /></a>
					</li>
					<li>
						<a href="#"><img src="images/movie4.png" alt="" /></a>
					</li>
					<li>
						<a href="#"><img src="images/movie3.png" alt="" /></a>
					</li>
					<li>
						<a href="#"><img src="images/movie2.png" alt="" /></a>
					</li>
					<li>
						<a href="#"><img src="images/movie1.png" alt="" /></a>
					</li>
				</ul>
				<button><a href="#">投票する</a></button>
			</section>
		</main>
		<footer>
			<small class="top-login-copyright">©Revima</small>
		</footer>
	</body>
</html>
