<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>top</title>
  <link rel="stylesheet" type="text/css" href="/css/set/destyle.css" />
  <link rel="stylesheet" type="text/css" href="/css/set/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/top.css" />
</head>
<body>
  <div>
    <%- include("./set/header"); %>
    <div class="home-contents">
      <h1 class="home-catch-copy">
        あの名作を<br/>
        <span class="home-txt-eigakan">映画館</span>
        でもう一度
      </h1> 
      <p class="home-explain-revima">
        誰もが知っている名作。何度も観た名作。<br/>
        映画館のスクリーンで観ませんか？<br/>
        Revimaでは、ユーザー投票によって選ばれた作品が映画館のスクリーンに蘇ります。<br/>
        あなたのお気に入りの作品を教えてください。
      </p>
      <a href="/regist"><button class="home-vote-eiga">見たい映画に投票する</button></a>
      <div class="home-demo-box-container">
        <div class="home-demo-box"></div>
        <div class="home-demo-box"></div>
        <div class="home-demo-box"></div>
        <div class="home-demo-box"></div>
      </div>
    </div>
  </div>
</body>
</html>