@import url("/css/set/var.css");

.reserve-detail-whole-wrapper {
  font-family: 'Lato';
  padding-bottom: 10px;
}
/* 1 */
.reserve-detail-first-wrapper {
  box-shadow: 0 10px 0 #252525;
  padding: 0 20px 60px;
}
.reserve-detail-first-wrapper h1 {
  font-family: 'Lato-Bold';
  font-size: 18px;
  font-weight: 700;
}
.reserve-detail-for-delete-container {
  align-items: center;
  display: flex;
  font-size: 12px;
  margin-top: 50px;
}
.reserve-detail-for-delete-container p {
  color: var(--base-red);
  cursor: pointer;
  margin-left: auto;
}
.reserve-detail-first-container {
  color: var(--base-gray);
  display: flex;
  margin-top: 20px;
}
.reserve-detail-first-container p:last-child {
  font-family: 'Lato';
  margin-left: 35px;
}

/* 2 */
.reserve-detail-second-wrapper {
  box-shadow: 0 2px 0 #252525;
  margin-top: 10px;
  padding: 30px 20px 35px;
}
.reserve-detail-second-container {
  color: var(--base-gray);
  display: flex;
  font-family: 'Lato-Bold';
  font-weight: 700;
}
.reserve-detail-second-container p:nth-child(2) {
  margin-left: auto;
}
.reserve-detail-second-container p:nth-child(3) {
  margin-left: 25px;
}
.reserve-detail-seat-wrapper {
  margin-top: 20px;
}
.reserve-detail-seat-wrapper p span {
  color: var(--base-yellow);
} 

/* 3 */
.reserve-detail-third-wrapper {
  color: var(--base-gray);
  padding: 20px 20px  0;
}
.reserve-detail-third-upper-container {
  border-bottom: 1px solid ;
  color: var(--base-gray);
  display: flex;
  padding-bottom: 25px;
}
.reserve-detail-third-upper-container p:last-child {
  margin-left: auto;
}

.reserve-detail-third-container div {
  display: flex;
}
.reserve-detail-third-container div:first-child {
  font-size: 18px;
  margin-top: 30px;
}
.reserve-detail-third-container div:first-child p:last-child {
  margin-left: auto;
}
.reserve-detail-third-container div:last-child {
  margin-top: 18px;
}
.reserve-detail-third-container div:last-child p:last-child {
  margin-left: auto;
}
.reserve-detail-backbtn {
  display: block;
  font-size: 12px;
  margin: 325px auto 0;
}