@import url("/css/set/_var.css");

.home-contents {
  padding: 0 20px;
}
.home-catch-copy {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 68px;
}
.home-txt-eigakan {
  color: var(--base-yellow);
  font-size: 48px;
}
.home-explain-revima {
  letter-spacing: 5%;
  line-height: 36px;
  margin-top: 52px;
}
.home-vote-eiga {
  background-color: var(--base-yellow);
  border-radius: 5px;
  color: #252525;
  font-size: 18px;
  font-weight: 700;
  height: 64px;
  margin: 40px auto 0;
  text-align: center;
  width: 100%;
}
.home-demo-box-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 50px 0 100px;
}
.home-demo-box  {
  flex: none;
  background-color: var(--base-white);
  height: 168px;
  margin-right: 5px;
  width: 100px;
}