@import url("/css/set/var.css");

.top-contents {
  padding: 0 20px 40px;
}
.top-catch-copy {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 68px;
}
.top-txt-eigakan {
  color: var(--base-yellow);
  font-size: 48px;
}
.top-explain-revima {
  letter-spacing: 5%;
  line-height: 36px;
  margin-top: 52px;
}
.top-vote-eiga {
  background-color: var(--base-yellow);
  border-radius: 5px;
  color: #252525;
  font-size: 18px;
  font-weight: 700;
  height: 64px;
  margin: 40px auto 0;
  text-align: center;
  width: 100%;
}
.top-demo-box-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 50px;
}
.top-demo-box  {
  flex: none;
  background-color: var(--base-white);
  height: 168px;
  margin-right: 5px;
  width: 100px;
}
.top-footer {
  font-family: 'Lato-Bold';
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
}