@import url("/css/set/var.css");

.vote-whole-wrapper {
  padding: 25px 20px 30px;
}
.vote-title {
  font-weight: 700;
}
.vote-title span {
  color: var(--base-yellow);
}

.vote-select-movie-wrapper {
  margin-top: 20px;
}
.vote-select-movie-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 -8px; 
}
.vote-select-movie-container div {  
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 27px 16px 0;
}
@media screen and (min-width: 414px) {
  .vote-select-movie-container div {  
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 27px 0 0;
    width: 33.3%;
  }
}
.vote-select-movie-container div img {
  display: block;
  height: 150px;
  width: 100px;
}
.vote-select-movie-container div input:before {
  border-radius: 50%;
  border: 2px solid var(--base-gray);
  cursor: pointer;
  content: '';
  display: block;
  height: 28px;
  width: 28px;
}
.vote-select-movie-container div input:checked:before {
  background-color: var(--base-yellow);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  content: '';
  display: block;
  height: 28px;
  width: 28px;
}
.vote-select-movie-container div input {
  appearance: none;
  display: block;
  margin-top: 10px;
}

.vote-select-movie-wrapper input[type="submit"] {
  background-color: var(--base-yellow);
  border-radius: 5px;
  color: var(--base-black);
  font-weight: 700;
  height: 64px;
  margin-top: 35px;
  text-align: center;
  width: 100%;
}