<head>
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
</head>

<header class="header-container">
  <div class="header-contents">
    <a href="/" class="header-logo-top">Revima</a> 
    <a href="/login" class="header-btn-login">ログイン</a>
    <a href="/regist"><p class="header-btn-vote">投票する</p></a>
  </div>
</header>
