<head>
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
</head>

<header class="header-container">
  <div class="header-contents">
    <% if (locals.isLoggedIn === false ) { %>
      <a href="/" class="header-logo-top">Revima</a> 
    <% } else { %>
      <a href="/home" class="header-logo-top">Revima</a> 
    <% } %>  
    
    <% if (locals.isLoggedIn === false ) { %>
      <a href="/login" class="header-btn-login">ログイン</a>
      <a href="/regist"><p class="header-btn-vote">投票する</p></a>
    <% } else { %>
      <a href="/mypage" class="header-profile"><img src="/usericon/usericon1.png"></a>
    <% } %>  
  </div>
</header>
