@import url("/css/set/var.css");

html {
  background-color: white;
}

body {
  background-color: var(--base-black);
  color: var(--base-white);
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0 auto;
  max-width: 560px;
}